---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "a programmer",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
		I'm a no stack developer and operation and maintenance engineer.
		</p>
		<p>Here are my some of my awesome skills:</p>
		<ul class="list-inside list-disc">
			<li>AWS DevOps</li>
			<li>Kubernetes</li>
			<li>High-performance architecture and IOT related big data processing</li>
		</ul>
	</div>
</PageLayout>
